[Unit]
Description=Batteryplus daemon
After=firstboot.service

[Service]
ExecStart=/usr/local/bin/batteryplus.sh start
Type=simple
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
