*.log
*.log.*
Arkbuild/
Arkbuild32/
Ark_devenv/
Ark_devenv32/
Arkbuild_ccache/
Arkbuild_package_cache/
ArkOS_File_System.img
build.log*
builddevenv.log
mnt/
odroidgoA-4.4.y/
prebuilts/
rg351/
*.img
*.img.*
wget-log*
build_step.log*
