[Unit]
Description=Miniloong LED daemon
After=firstboot.service

[Service]
ExecStart=/usr/local/bin/miniloong-charge-led.sh
ExecStopPost=/bin/bash -c "echo off | sudo tee /sys/class/leds/aw20036_led/miniloong_color"
Type=simple
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
